@page "/ChoixPersonnage"

<div class="perso-page">

    <PageTitle>Personnage</PageTitle>

    <br/>

    <div class="hometitre">
        <h2>Choisissez votre personnage</h2>
    </div>
   
    <div class="ChoixPersonnage"> </div>
    <label>
        <input type="radio" name="Personnage" value="Femme"> 
        <img src="images/HeroF.png" alt="Homme" class="ChoixPersonnageImage"> Une voleuse
    </label><br>
    <label>
        <input type="radio" name="Personnage" value="Hommme"> 
        <img src="images/HeroM.png" alt="Homme" class="ChoixPersonnageImage"> Un voleur
    </label><br>

    <form method="post"> 
        <div class="form"> 
            <label for="Name">Entre un nom :</label> 
            <input type="text" class="form-control" id="Name" name="Name" /> 
        </div> 
    </form>



    <div class="containerbouton">
    
        <a class="bouton" href="MapRDC"> Jouons !</a>
    </div>

    </div>


 
@code {
    
}