@page "/Fin"

<div class="fin">
    <PageTitle>Vous avez gagné !</PageTitle>
    <br/>

    <div class="texte">
        <h1>Bien joué ! </h1>
        <h2>Vous avez réussi à vous enfuir du manoir</h2>
    </div>
</div>

@code {
    
}

