@page "/HeroSelection"
<div class="home-page" xmlns="http://www.w3.org/1999/html">


    <br/>
    <div class="hometitre">
        <h1> Choisis ton héro : </h1>
    </div>
    
<div class="ImageDroite">
    
        <a class="HeroM" href="HeroSelection"></a>
    </div>

<div class="ImageGauche">
    
        <a class="HeroF" href="HeroSelection"></a>
    </div>


    <div class="containerbouton">
    
        <a class="bouton" href="MapRDC"> Jouons !</a>
    </div>
    
</div>