.hometitre {
    color: #BFAA93;
}

.container {
    display: flex;
    justify-content: space-around;
    height: auto;
}

.HeroM {
    width: 40%;
    max-width: 300px;
    height: auto;
    border: 2px solid #BFAA93;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.HeroF {
    width: 40%;
    max-width: 300px;
    height: auto;
    border: 2px solid #BFAA93;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
    color: #BFAA93;
    text-align: center;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.bouton {
    background-color: #3E8199;
    color :#BFAA93;
    border-radius: 12px;
    border : none;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
}

.containerbouton
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin : -150px;
}