@page "/HeroSelection"
<div class="home-page" xmlns="http://www.w3.org/1999/html">


    <br/>
    <div class="hometitre">
        <h1> Choisis ton héro ! </h1>
    </div>
    
    <div class=container>
        <img src="images/HeroM.png" class="HeroM" />
        <img src="images/HeroF.png" class="HeroF" />
    </div>

    <form method="post"> 
        <div class="form"> 
            <label for="Name">Entre un nom :</label> 
            <input type="text" class="form-control" id="Name" name="Name" /> 
        </div> 
    </form>



    <div class="containerbouton">
    
        <a class="bouton" href="MapRDC"> Jouons !</a>
    </div>
</div>
    