@page "/"
<div class="home-page" xmlns="http://www.w3.org/1999/html">

    <PageTitle>PooManor</PageTitle>

    <br/>
    <div class="hometitre">
        <h1>   Hello, You !</h1>
    </div>

    <div class="p1"> Êtes-vous prêt à vous échaper du manoir?
        <br/>
        Alors cliquez ci-dessous pour choisir un héro !
    </div>
    
    <div class="containerbouton">
    
        <a class="bouton" href="ChoixPersonnage"> Jouons !</a>
    </div>
    
</div>