@page "/"
<div class="home-page" xmlns="http://www.w3.org/1999/html">

    <PageTitle>PooManor</PageTitle>

    <br/>
    <div class="hometitre">
        <h1>Hello, You !</h1>
    </div>

    <div class="p1"> Êtes-vous prêt à vous échapper du manoir?
        <br/><br/>
        Votre mission est simple : Trouver la clé du portail du jardin pour vous échapper. Mais attention, le manoir est rempli de monstres terrifiants qui feront tout pour vous arrêter. Heureusement, des trésors sont disséminés un peu partout pour vous aider dans votre quête. Utilisez-les judicieusement pour survivre et atteindre votre objectif. 
        <br/> Bonne chance, aventurier, et que la bravoure soit avec vous !
        <br/><br/>
        Alors cliquez ci-dessous pour choisir votre personnage !
    </div>
    
    <div class="containerbouton">
    
        <a class="bouton" href="ChoixPersonnage"> Jouons !</a>
    </div>
    
</div>