.map1E {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(20, 50px);
    background-image: url("images/sol.png");
    background-size : cover;
    background-position : center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

.row {
    display: contents;
}

.cell {
    width: 50px;
    height: 50px;
    border : 0.5px solid black;
}

.monster {
    width: 250%;
    margin-left: -10px;
    object-fit: contain;
}

.prompt {
    color: white;
    background-color: #54A1A9;
    border: 0.5mm solid white;
    align-items: center;
    margin: 10px;
}

.gestionvie {

}

