@page "/Map1E"

<div>
    <Map CurrentFloorImage=images/1E.png 
         CurrentMap="map" 
         Row="10" 
         Column="20"
         MonstersList="@PEMonsters"
         Zones="@PEZones"
         Doors="@PEDoors"
         Stairs="@Stairs"
         Etage="1"
         PlayerPositionX="4"
         PlayerPositionY="7"
         CoffrePositionX="7"
         CoffrePositionY="3"
         />
</div>

@code {
    private List<Monsters> PEMonsters = new List<Monsters>
    {
        new Ghost("Ghost1", 2, 8),
    };
    
    private List<Zone> PEZones = new List<Zone>
    {
        new Zone(0, 4, 0, 9), // Zone 1
        new Zone(5, 9, 0, 9), // Zone 2
        new Zone(0, 4, 10, 19), // Zone 3
        new Zone(5, 9, 10, 19) // Zone 4
    };

    private List<Door> PEDoors = new List<Door>
    {
        new Door((4, 3), (5, 3)), // Porte entre Zone 1 et Zone 2
        new Door((4, 11), (5, 11)), // Porte entre Zone 3 et Zone 4
        new Door((7,9), (7, 10)),
        new Door((2,9), (2,10))
        
    };
    private List<Stair> Stairs = new List<Stair>
    {
        new Stair(9,5),
        new Stair(0,0)
    };
}

