.combat-map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #BFAA93; 
}

.hero-info, .monster-info {
    border: 1px solid #ccc;
    padding: 10px;
    width: 45%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent  */
    border-radius: 12px; 
}

.hero-info img, .monster-info img {
    width: 90px;
    height: 90px; 
    display: block;
    margin: 0 auto 10px;
}

.combat-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.combat-actions button {
    margin: 0 10px;
    padding: 10px 30px;
    font-size: 35px;
    cursor: pointer;
    border-radius: 12px; 
    background-color: #3E8199; 
    color: #BFAA93; 
    border: none; 
}

.combat-log {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #BFAA93;
    font-weight : bold;
}

.note{
    color: #BFAA93;
    margin-top: 2cm;
}