@page "/MapGameOver"

@using testManor.Pages.Services



<div class="GameOverPage">

    <PageTitle>GameOver</PageTitle>

    <br/>

    <div class="GameOver">
        <h1>Game Over ! </h1>
        <h2>Cliquez sur "Accueil" pour retenter votre chance</h2>
    </div>
</div>



@code {}
