@page "/mapGrenier"

<div>
    <Map CurrentFloorImage=images/MapGrenier.png 
         CurrentMap="mapGrenier" 
         Row="5" 
         Column="10" 
         MonstersList="@GrenierMonsters" 
         Zones="@GrenierZones" 
         Doors="@GrenierDoors"
         PlayerPositionX="1"
         PlayerPositionY="1"/>
</div>

@code {
    private List<Monsters> GrenierMonsters = new List<Monsters>
    {
        new Werewolf("loupgarou1", 3,4)
    };

    private List<Zone> GrenierZones = new List<Zone>
    {
        new Zone(0, 4, 0, 9),
    };

    private List<Door> GrenierDoors = new List<Door>
    {
    };
}