.mapRDC {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(20, 50px);
    background-image: url("images/sol.png");
    background-size : cover;
    background-position : center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

.row {
    display: contents;
}

.cell {
    width: 50px;
    height: 50px;
    border : 0.5px solid black;
}

.monster {
    width: 250%;
    margin-left: -10px;
    object-fit: contain;
}

.prompt {
    color: #122027;
    background-color: #BFAA93;
    border: 1mm solid white;
    border-color: #50656C;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.gestionvie {
    color: #BFAA93;
    font-weight: bold;
    
}

.coffreimage{
    width: 550%;
    margin-left: -25px;
    margin-top: 5px;
    object-fit: contain;
}
.hero{
    width: 350%;
    margin-left: -10px;
    object-fit: contain;
}

.TresorImage{
    width: 450%;
    margin-left: -25px;
    margin-top: 5px;
    object-fit: contain;
}
.Personnage {
    width: 50px;
}
