@page "/MapRDCE"

<div>
    <h1>1er étage</h1>
    <Map CurrentFloorImage=images/MapRDC.png 
         CurrentMap="map" 
         Row="10" 
         Column="20" 
         MonstersList="@RDCMonsters" 
         Zones="@RDCZones" 
         Doors="@RDCDoors" 
         PlayerPositionX="4"
         PlayerPositionY="7"
         CoffrePositionX="7"
         CoffrePositionY="3"/>
</div>

@code {
    private List<Monsters> RDCMonsters = new List<Monsters>
    {
        new Zombie("Zombie1", 2, 8),
        new Zombie("Zombie2", 0,3)
    };

    private List<Zone> RDCZones = new List<Zone>
    {
        new Zone(0, 4, 0, 9), // Zone 1
        new Zone(5, 9, 0, 9), // Zone 2
        new Zone(0, 4, 10, 19), // Zone 3
        new Zone(5, 9, 10, 19) // Zone 4
    };

    private List<Door> RDCDoors = new List<Door>
    {
        new Door((4, 5), (5, 5)), // Porte entre Zone 1 et Zone 2
        new Door((4, 15), (5, 15)) // Porte entre Zone 3 et Zone 4
        
    };
}