@page "/MapRDCE"

<div>
    <Map CurrentFloorImage=images/MapRDC.png 
         CurrentMap="map" 
         Row="10" 
         Column="20" 
         MonstersList="@RDCMonsters" 
         Zones="@RDCZones" 
         Doors="@RDCDoors" 
         Stairs="@Stairs"
         Etage="0"
         PlayerPositionX="4"
         PlayerPositionY="7"
         CoffrePositionX="7"
         CoffrePositionY="3"
         />
</div>

@code {
    private List<Monsters> RDCMonsters = new List<Monsters>
    {
        new Zombie("Zombie1", 2, 8),
        new Zombie("Zombie2", 0,3)
    };

    private List<Zone> RDCZones = new List<Zone>
    {
        new Zone(0, 4, 0, 9), // Zone 1
        new Zone(5, 9, 0, 9), // Zone 2
        new Zone(0, 4, 10, 19), // Zone 3
        new Zone(5, 9, 10, 19) // Zone 4
    };

    private List<Door> RDCDoors = new List<Door>
    {
        new Door((4, 3), (5, 3)), // Porte entre Zone 1 et Zone 2
        new Door((4, 11), (5, 11)), // Porte entre Zone 3 et Zone 4
        new Door((7,9), (7, 10)),
        new Door((2,9), (2,10))
    };
    private List<Stair> Stairs = new List<Stair>
    {
        new Stair(9,5)
    };
}