@page "/Cuisine"

<h3>Cuisine</h3>
<div class="mapcuisine">
    @for (int row = 0; row < 15; row++)
    {
    <div class="row">
        @for (int col = 0; col < 20; col++)
        {
        <div class="cell"></div>
        }
    </div>
    }
</div>