@using System.ComponentModel.DataAnnotations
@using testManor.Pages
@using testManor.Pages.Services
@inject HeroService HeroService  


<div class="InventaireContainer">
        
        @foreach (var item in HeroService.ListInventaire)
        {
            <img src="@item" class="ImageInventaire"/>
            <br/>
            
        }

    @code {
    }
</div>
